<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Uimaker CMS 网站内容管理系统</title>
<link rel="stylesheet" type="text/css" href="/backView/css/admin_style.css" />
<link rel="stylesheet" type="text/css" href="/backView/css/skins/tpphp.css" />
<script src="/backView/js/jquery-1.4.4.min.js"></script>
<script src="/backView/js/main.js"></script>
<script src="/backView/js/tool.js"></script>
<script src="/backView/js/artDialog.js"></script>
<script>
function openMsgWindow() {
	art.dialog({
		id:'msgDialog',
		title: '提示信息',
		lock:false,
		fixed:true,
		width:300,
		height:100,
		ok: function(){
			this.title('成功提示！').content('操作成功！').time(2);
			return false;
		 },
		 cancel: function(){
			
			return true;
		 },
		content: "<div style='line-height:25px'>您有新的站内信<Br><a href=\"http://www.uimaker.com\">点此阅读</a></div>"
	});
}
</script>
</head>
<body style="overflow:hidden;">
<div class="top">
	<div class="top_about">	
		<a href="#" class="help1" id="btn2" onclick="openMsgWindow()">使用帮助</a>
		<a href="#" class="help2">关于</a>
	</div>
	<div class="admin_logo">
		<img src="/backView/images/admin_logo.jpg">
	</div>
	<div class="top_nav">
			<ul>
				<li><a href="#" >后台首页</a></li>
				<li><a href="/admin/index" class="selected" target="right" >网站首页管理</a></li>
				<li><a href="/"  target="_blank">网站首页</a></li>
				<li><a href="/admin/list?page=1"  target="right">文章管理</a></li>
				<li><a href="#">采集设置</a></li>
				<li><a href="/admin/article"   target="right">增加文章</a></li>
				<li><a href="/admin/user?page=1" target="right">用户管理</a></li>
				<li><a href="#">系统设置</a></li>
			</ul>
	</div>


	<div class="top_member">
	欢迎您，<%=name %> | <a href="#">帐号管理</a> | <a href="#">充值</a> | <a href="#">编辑</a> | <a href="#">2条信息</a>
	</div>
</div>
<div class="side_switch" id="side_switch">
</div>
<div class="side_switchl" id="side_switchl">
</div>
<div class="left">
	<div class="member_info"><div class="member_ico"><img src="/backView/images/a.png" width="43" height="43"></div><a class="system_a" href="">系统设置</a><a href="/delete" class="system_log">注销</a><a href="/lgout" class="system_logout">退出</a></div>
	<div class="left_title">常用功能操作</div>
	<ul class="side">
		<li><a href="/admin/category"  target="right">网站栏目管理</a></li>
		<li><a href="/admin/list?page=1" class="selected"  target="right">所有文档</a></li>
		<li><a href="#">等待审核的文档(23)</a></li>
		<li><a href="#">我发布的文档</a></li>
		<li><a href="/admin/flink" target="right">友情链接</a></li>
		<li><a href="#">内容回收站</a></li>
	</ul>
	<ul class="side catsub">
				<li class="feed"><a href="http://www.uimaker.com">网站订阅查看</a></li>
				<li class="side_about"><a href="#">版权声明</a></li>
	</ul>
</div>
<div class="right">

<IFRAME style="OVERFLOW: visible"  src="/admin/init" id="main" name="right"  frameBorder=0 width="100%" scrolling="yes" height="600px"></IFRAME>

</div>
</body>
</html>
